body {
    font-family: Cochin, Georgia, Times, 'Times New Roman', serif;
}

body.Harry {
    background-color: rgb(245, 228, 212);
}

body.Ron {
    background-color: rgb(226, 160, 39);
}

body.Lupin {
    background-color: red;
}

body.Hermione {
    background-color: rgb(241, 200, 201);
}

body.McGonigal {
    background-color: rgb(159, 142, 166);
}

body.Luna {
    background-color: red;
}

body.Ginny {
    background-color: rgb(139, 67,51);
}

body.Dumbledore {
    background-color: white;

}

body.Index , body.Media, body.Tournaments {
    background-image: url("media/Background.jpg");
    background-size: cover;
}

body.Tournaments {
    max-width: max-content !important;
}

body.Media {
    padding-bottom: 2in;
    max-width: 1200px !important;
}

div.RonSusie {
    float: left;
    max-width: 400px;
    margin-right: 0.25in;
}

div.RonSusie img {
    width: 100%;
}


@media only screen and (max-width: 1100px) {
    body {
        margin-left: 50px;
        margin-right: 50px;
    }
}

@media only screen and (min-width: 1100px) {
    body {
        max-width: 1000px;
        margin-left: auto;
        margin-right: auto;
    }
}

div.menu {
    background: rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10000;
   -webkit-backdrop-filter: blur(20px);
}

div.menu ol {
    padding: 0px;
    margin: 0 auto 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 1000px;
}

div.menu ol li {
    padding: 13px 0 13px 0;
    margin: 0;
    display: inline-block;
    width: 95px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: lighter;
    text-align: center;
}

div.menu ol li:hover, div.menu ol li.current{
    background: rgba(0, 0, 0, 0.1);
}

div.menu ol li a {
    text-decoration: none;
    color: black;
}

figure {
    margin: 0;
    position: relative;
}

figure img {
    border: 1px solid rgb(88, 80, 73);
    margin-top: 0;
    width: 100%;
    display: block;
}

figcaption {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
    font-weight: lighter;
}

figure > a::after {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: lighter;
    content: "click to enlarge";
    display: inline-block;
    position: absolute;
    color: black;
    text-shadow: white 1px 0 1px, white -1px 0 1px, white 0 -1px 1px, white 0 -1px 1px;
    bottom: 20px;
    right: 5px;
}

body.Character p {
    text-align: justify;
    text-indent: 30px;
    font-size: 18px;
    line-height: 140%;
}

body.Character p:first-of-type {
    text-indent: 0px;
}

h1 {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: lighter;
    font-size: 50px;
    margin-top: 70px;
}

@media only screen and (max-width: 950px) {
    h1 {
        margin-top: 114px;
    }
    div.menu ol li {
        width: calc(100% / 5);
    }
}

@media only screen and (max-width: 475px) {
    h1 {
        margin-top: 158px;
    }
    div.menu ol li {
        width: calc(100% / 4);
    }

    div.menu ol li:nth-child(9), div.menu ol li:nth-child(10) {
        width: calc(100% / 2);
    }
}

@media only screen and (max-width: 380px) {
    h1 {
        margin-top: 202px;
    }
    div.menu ol li, div.menu ol li:nth-child(9){
        width: calc(100% / 3);
    }
    div.menu ol li:nth-child(10) {
        width: 100%;
    }

}


blockquote {
    text-align: center;
    font-style: italic;
}

p.author {
    text-indent: 0;
}


table {
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    background-color: rgba(0, 0, 0, 0.1);
}

tr td:nth-child(1), tr td:nth-child(6), tr td:nth-child(7), tr td:nth-child(8){
    text-align: right;
}

tr td:nth-child(5) {
    text-align: center;
    font-size: 18px;
    position: relative;
}

td {
    padding: 16px 8px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: lighter;
    text-align: center;
}

td select {
    -webkit-appearance: none;
    padding: 4px 8px;
    width: 130px;
    height: 30px;
    border: 1px solid #999;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: lighter;
    font-size: 14px;
    background-color: #eee;
    border-radius: 5px;
}

td select[required]:invalid, td select[disabled] {
    color: #999
}

td.downs {
    vertical-align: bottom;
}
td.ups {
    vertical-align: top;
}

div.links {
    text-align: center;
}

hr {
    border: 0;
    border-bottom: 1px solid black;
}

img.Polling {
    width: 100%;

}